<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="puzzle.js" defer></script>

	<link rel="stylesheet" href="style.css">

</head>
<body>
	<table id="puzzle">
		<tr v-for="(row, y) in grid">
			<td v-for="(cell, x) in row" v-bind:class="{ 'answer-square': cell!=null }">
				<span
					v-if="cell!=null && cell.number>0"
					class="answer-number">

					{{grid[y][x].number}}
				</span>

				<input
					v-if="cell!=null"
					v-show="grid[y][x].input != grid[y][x].text"
					v-model="grid[y][x].input"
					type="text"
				/>

				<span
					v-if="cell!=null"
					v-show="grid[y][x].input == grid[y][x].text">

					{{grid[y][x].text}}
				</span>


			</td>
		</tr>
	</table>

</body>
</html>
