<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	{% load static %}

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script type="text/javascript">
		var puzzle = JSON.parse("{{puzzle|escapejs}}")
	</script>
	<script src="{% static 'js/puzzle.js' %}" type="text/javascript" defer></script>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
	<div  id="puzzle">
		<table>
			<tr v-for="(row, y) in grid">
				<td v-for="(cell, x) in row" v-bind:class="{ 'answer-square': cell!=null }">
					<span
						v-if="cell!=null && cell.number>0"
						class="answer-number"
						v-text="grid[y][x].number">

					</span>

					<input
						class="answer-input"
						maxlength="1"
						v-if="cell!=null"
						v-show="grid[y][x].input.toUpperCase() != grid[y][x].text"
						v-model="grid[y][x].input"
						type="text"
					/>

					<span
						class="answer-text"
						v-if="cell!=null"
						v-show="grid[y][x].input.toUpperCase() == grid[y][x].text"
						v-text="grid[y][x].text">

					</span>


				</td>
			</tr>
		</table>

		<h2>Across</h2>
		<ol>
			<li v-for="i in across" v-text="i"></li>
		</ol>

		<h2>Down</h2>
		<ol>
			<li v-for="i in down" v-text="i"></li>
		</ol>

	</div>

</body>
</html>
