table {
	background-color: black;
}

td {
	width: 2em;
	height: 2em;
	overflow: hidden;
}

td.answer-square {
	background-color: white;
}

.answer-square>.answer-number {
	position: relative;
	font-size: 8pt;
	left: 0;
	top: 0;
	vertical-align: top;
	text-align: right;
	padding: 0;
	margin: 0;
}
